{{template "partials/admin-header" .}}
<style>
    .img-icon { width: 40px;margin-right: 10px;}
    .w-40-px {width: 1.5rem !important;}
    .h-40-px {height: 1.5rem !important;}
    </style>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
         

          <div class="row">
            <div class="col-lg-8">
                <h4 class="header-title mb-4"> <span data-toggle="tooltip" data-placement="right"> {{.Title}} - {{.Action}}</span></h4>
            </div>
            <div class="col-lg-4 text-end my-2"> {{if eq .Action "List"}}<a href="/admin/add-crypto-currency" title="Add Crypto Currency" class="btn btn-sm btn-outline-primary template"> Add Crypto Currency</a>{{end}}</div>
      </div>
  
      {{if .AlertX}}
      <div class="row mx-0">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{.AlertX}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
      {{end}}
      {{if eq .Action "List"}}

          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead>
                <tr class="font-weight-bolder">
                  <th scope="col">Code</th>
                  <th scope="col">Title</th>
                  <th scope="col">Network</th>
                  <th scope="col">Network short</th>
                  <th scope="col">Status</th>
                  <th scope="col" class="text-end mx-2">Action</th>
                </tr>
              </thead>
              <tbody id="none">
                  {{range .CurrencyList}}
                  <tr>
                    <td class="text-uppercase"><img src="/views/images/{{tolower .Crypto_code}}.png" alt="{{.Crypto_code}}" title="{{.Crypto_code}}" class="w-40-px h-40-px rounded-circle flex-shrink-0"> {{.Crypto_code}}</td>
                    <td class="text-capitalize">{{.Crypto_title}}</td>
                    <td>{{.Crypto_network}}</td>
                    <td><img src="/views/images/{{tolower .Crypto_network_short}}.png" alt="{{.Crypto_network_short}}" title="{{.Crypto_network_short}}" class="w-40-px h-40-px rounded-circle flex-shrink-0"> {{.Crypto_network_short}}</td>
                    <td>{{if eq .Status 1}} <i class="fa-regular fa-circle-check text-success"></i> {{else}} <i class="fa-regular fa-circle-xmark text-danger"></i> {{end}}</td>
                    <td class="text-end mx-2"><a class="text-dark mx-2" href="/admin/crypto-currency/edit/{{.Crypto_id}}" title="EDIT COIN"><i class="fa-solid fa-pen-to-square"></i></a> <a class="text-danger mx-2" href="/admin/crypto-currency/delete/{{.Crypto_id}}" title="DELETE COIN"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                {{end}}
                <tr>
                  <td class="text-end mx-2 fs-6" colspan="8"> 
                    <span class="mt-1 font-monospace mx-2 float-start" > Page [{{ .Page }}] Total {{ .Total }}</span>
                    {{ if gt .Page 1 }}
                  &nbsp;<a href="?page={{ sub .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-left"></i></a>
                   {{ end }}
                  
                   {{ if lt (mul .Page .Limit) .Total }}
                   &nbsp;<a href="?page={{ add .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-right"></i></a>
                  {{ end }}


                  </td>
                  
                </tr>
              </tbody>
            </table>
           
          </div>

      {{else}}
    {{ if .EditData }} {{ .EditData.Crypto_title }} {{ .EditData.Crypto_title }} {{end}}
      <form method="POST" action="/admin/CryptoCurrencyPost" autocomplete="off" enctype="multipart/form-data">
      <input type="hidden" name="tableID" value="{{if .EditData.Crypto_id}}{{.EditData.Crypto_id}}{{end}}">
      <input type="hidden" name="mode" value="{{.Action}}">
      
        <div class="row">
    
     
       
          <div class="col-md-2 my-2">
            <div class="form-floating">
              <input type="text" id="crypto_code" name="crypto_code" class="form-control" title="Crypto Code" required="" value="{{if .EditData.Crypto_code}}{{.EditData.Crypto_code}}{{end}}">
              <label for="crypto_code">Crypto Code</label>
            </div>
          </div>
          <div class="col-md-2 my-2">
            <div class="form-floating">
              <input type="text" id="crypto_title" name="crypto_title" class="form-control" title="Crypto Title" required="" value="{{if .EditData.Crypto_title}}{{.EditData.Crypto_title}}{{end}}">
              <label for="crypto_title">Crypto Title</label>
            </div>
          </div>
           <div class="col-md-2 my-2">
            <div class="form-floating">
              <input type="text" id="crypto_network" name="crypto_network" class="form-control" title="Crypto Network" value="{{if .EditData.Crypto_network}}{{.EditData.Crypto_network}}{{end}}">
              <label for="crypto_network">Currency Network</label>
            </div>
          </div>
          <div class="col-md-2 my-2">
            <div class="form-floating">
              <input type="text" id="crypto_network_short" name="crypto_network_short" class="form-control" title="Crypto Network Short" value="{{if .EditData.Crypto_network_short}}{{.EditData.Crypto_network_short}}{{end}}">
              <label for="crypto_network_short">Crypto Network Short</label>
            </div>
          </div>
          <div class="col-md-2 my-2">
            <div class="form-floating">
              <select class="form-select" name="status" id="status" title="Status" required="">
              <option value=1 {{ if eq .EditData.Status 1 }}selected{{end}}>Active</option>
              <option value=2 {{ if eq .EditData.Status 2 }}selected{{end}}>Deleted</option>
              </select>
              <label for="status">Status</label>
              
            </div>
          </div>
          <div class="col-md-2 my-2">
            <div class="form-floating">
          <button type="submit" id="submit" class="btn btn-primary btn-lg mt-1 " name="submit" title="submit" value="submit">Submit</button>
        </div>
          </div>
        </div>
        
      </form>
      {{end}}
        </div>
      </div>
    </div>
  </div>
</div> 
</div> 
</div>
  {{template "partials/admin-footer" .}}
