{{template "partials/admin-header" .}}
<style>
    .img-icon { width: 40px;margin-right: 10px;}
    .w-40-px {width: 1.5rem !important;}
    .h-40-px {height: 1.5rem !important;}
    </style>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <h4 class="header-title mb-4"> <span data-toggle="tooltip" data-placement="right"> {{.Title}} </span></h4>
      <div class="row">
        <div class="col-lg-12">
          <div class="card ">
          <div class="row my-2 card-display">
            <div class="col-sm-12">
            <div class="card-body rounded mb-2" data-placement="right" title="Current Balance">
              <div class="media">
                <div class="media-body">
                <div class="float-start"><h2 class="fw-bold">Tools Used<br>
                  </h2></div>
                
                  
                </div>
                
              </div>
              
            </div>
            
    <div class="row px-3">

              
             
        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">Golang </span> - Go Fiber  </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_LightBlue.svg"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>go1.22.3</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">PostgreSQL </span>  </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://www.postgresql.org/media/img/about/press/elephant.png"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>16.3</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">Bootstrap </span> </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>v5.3.3</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">jQuery </span> </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://jquery.com/wp-content/themes/jquery.com/i/favicon.ico"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>v3.7.1</span> </h4>
            </div>
          </div>
        </div>


        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">jQuery  </span> Text Editor</h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://jquery.com/wp-content/themes/jquery.com/i/favicon.ico"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>1.3.3</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">Font Awesome </span> </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><i class="fa-solid fa-font-awesome fa-fw fa-2x"></i></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>Free 6.0.0-beta3</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">ApexCharts </span> </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://apexcharts.com/wp-content/themes/apexcharts/img/apexcharts-logo-white-trimmed.svg"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span>v4.0.0</span> </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card changeiban">
              <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <h5><span class="text-uppercase">API </span> Document </h5>
                </div>
                <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="https://dash.readme.com/public/img/readme.svg"></span> </div>
              </div>
              <h4 class="m-0 align-self-center"><span><a href="https://crypto-payment-api-itio.readme.io/" target="_blank" title="View API DOC">View API</a></span> </h4>
            </div>
          </div>
        </div>


            
    </div>
        
            </div>
            
          </div>
          </div>
          
        </div>
      </div>

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
         

          <div class="row">
            <div class="col-lg-8">
                <h4 class="header-title mb-4"> <span data-toggle="tooltip" data-placement="right"> Used Functions / Tables / Structs / Routes - {{.Action}}</span></h4>
            </div>
            <div class="col-lg-4 text-end my-2"> {{if eq .Action "List"}}<a href="/admin/add-guide" title="Add Guide" class="btn btn-sm btn-outline-primary template"> Add Guide</a>{{end}}</div>
      </div>
  
      {{if .AlertX}}
      <div class="row mx-0">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{.AlertX}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
      {{end}}

     
      
      {{if eq .Action "List"}}

          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead>
                <tr class="font-weight-bolder">
                  <th scope="col">Title</th>
                  <th scope="col">Functions /  Struct</th>
                  <th scope="col">Details</th>
                  <th scope="col">Page Name</th>
                  <!-- <th scope="col">Status</th> -->
                  <th scope="col" class="text-end mx-2" style="width: 80px;">Action</th>
                </tr>
              </thead>
              <tbody id="none">
                  {{range .GuideList}}
                  {{if eq .Title "Table"}}
                  <tr class="bg-warning p-2 text-dark bg-opacity-25 fw-bold">
                  {{else if eq .Title "Routes"}}
                  <tr class="bg-primary-subtle  fw-bold">
                  {{else if eq .Title "Models"}}
                  <tr class="bg-success p-2 text-dark bg-opacity-25  fw-bold">
                  {{else if eq .Title "Functions"}}
                  <tr class="bg-danger p-2 text-dark bg-opacity-25  fw-bold">
                  {{else if eq .Title "GoFunctions"}}
                  <tr class="bg-secondary p-2 text-dark bg-opacity-25  fw-bold">
                  {{else}}
                  <tr>
                    {{end}}
                    <td class="text-uppercase">{{.Title}}</td>
                    <td>{{.Heading}}</td>
                    <td>{{.Functions}}</td>
                    <td>{{.Used}}</td>
                    <!-- <td>{{if eq .Status 1}} <i class="fa-regular fa-circle-check text-success"></i> {{else}} <i class="fa-regular fa-circle-xmark text-danger"></i> {{end}}</td> -->
                    <td class="text-end mx-2"><a class="text-success mx-2" href="/admin/developer-guide/edit/{{.Id}}" title="EDIT"><i class="fa-solid fa-pen-to-square"></i></a> <a class="text-danger mx-2" href="/admin/developer-guide/delete/{{.Id}}" title="DELETE"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                {{end}}
                <tr>
                  <td class="text-end mx-2 fs-6" colspan="8"> 
                    <span class="mt-1 font-monospace mx-2 float-start" > Page [{{ .Page }}] Total {{ .Total }}</span>
                    {{ if gt .Page 1 }}
                  &nbsp;<a href="?page={{ sub .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-left"></i></a>
                   {{ end }}
                  
                   {{ if lt (mul .Page .Limit) .Total }}
                   &nbsp;<a href="?page={{ add .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-right"></i></a>
                  {{ end }}


                  </td>
                  
                </tr>
              </tbody>
            </table>
           
          </div>

      {{else}}
    
      <form method="POST" action="/admin/guidePost" autocomplete="off" enctype="multipart/form-data">
      <input type="hidden" name="tableID" value="{{if .EditData.Id}}{{.EditData.Id}}{{end}}">
      <input type="hidden" name="mode" value="{{.Action}}">
      
        <div class="row">
    
     
       
          <div class="col-md-6 my-2">
            <div class="form-floating"> 
              <select class="form-select" name="title" id="title" title="title" required="">
                <option value="Table">Table</option>
                <option value="Routes">Routes</option>
                <option value="Models">Models</option>
                <option value="Functions">Functions</option>
                <option value="GoFunctions">GoFunctions</option>
                </select>
              <label for="title">Title</label>
            </div>
            <script>$('#title option[value="{{.EditData.Title}}"]').prop('selected','selected');</script>
          </div>
          <div class="col-md-6 my-2">
            <div class="form-floating">
              <input type="text" id="heading" name="heading" class="form-control" title="Heading" required="" value="{{if .EditData.Heading}}{{.EditData.Heading}}{{end}}">
              <label for="crypto_title">Heading</label>
            </div>
          </div>
           <div class="col-md-6 my-2">
            <div class="form-floating">
              <input type="text" id="functions" name="functions" class="form-control" title="Functions" value="{{if .EditData.Functions}}{{.EditData.Functions}}{{end}}">
              <label for="crypto_network">Functions</label>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="form-floating">
              <input type="text" id="used" name="used" class="form-control" title="Used" value="{{if .EditData.Used}}{{.EditData.Used}}{{end}}">
              <label for="Used">Used</label>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="form-floating">
              <select class="form-select" name="status" id="status" title="Status" required="">
              <option value=1 {{ if eq .EditData.Status 1 }}selected{{end}}>Active</option>
              <option value=2 {{ if eq .EditData.Status 2 }}selected{{end}}>Deleted</option>
              </select>
              <label for="status">Status</label>
              
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="form-floating">
          <button type="submit" id="submit" class="btn btn-primary btn-lg mt-1 " name="submit" title="submit" value="submit">Submit</button>
        </div>
          </div>
        </div>
        
      </form>
      {{end}}
        </div>
      </div>
    </div>
  </div>
</div> 
</div> 
</div>
  {{template "partials/admin-footer" .}}
