{{template "partials/admin-header" .}}
{{.LoginHistory}}
<style>
.img-icon{
  height: 50px;
  margin-right: 10px;
}
.avatar-xs {
    height: 30px;
    width: 60px;
}

</style>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </nav>

          <div class="row">
            <div class="col-lg-12">
              <div class="card ">
              <div class="row my-2 card-display">
                <div class="col-sm-12">
                <div class="card-body rounded mb-2" data-placement="right" title="Current Balance">
                  <div class="media">
                    <div class="media-body">
                    <div class="float-start"><h2 class="fw-bold">Assets<br>
                      </h2></div>
                    
                      
                    </div>
                    
                  </div>
                  
                </div>
                
                <div class="row px-3">
                  
                  {{range .CoinBalanceList}}   
                  {{ $dataContext := . }}
                  {{if gt .Balance "0"}}
            <div class="col-sm-3">
              <div class="card changeiban" data-iban="1">
                
                  {{range index $.CoinList}} {{if eq $dataContext.Assetid .Coin_id}} 
                  <div class="card-body">
                  <div class="media">
                    <div class="media-body">
                      <h5><span class="text-uppercase">{{.Coin}}</span> {{.Coin_title}} <br><span  class="fw-bold">{{.Coin_network}}</span>  </h5>
                    </div>
                    <div class="avatar-xs"> <span class="mx-2"><img class="img-icon" src="/views/images/{{.Icon}}">  </span> </div>
                  </div>
                  <h4 class="m-0 align-self-center"><span class="balance-limit">{{$dataContext.Balance}}</span> </h4>
                </div>
                  {{end}}{{end}}
                  
                
              </div>
            </div>
            {{end}}       
              {{end}}       
            </div>
            
                </div>
                
              </div>
              </div>
              
            </div>
          </div>
 
          {{if ge  .CountList 1}}
          <div class="row">
            <div class="col-lg-12">
              <div class="card ">
  <div class="accordion m-2" id="accordionExample">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
<thead>
                <tr class="font-weight-bolder">
                  <th scope="col" style="max-width: 30px !important;">&nbsp;</th>
                  <th scope="col">TransactionID</th>
                  <th scope="col">Asset</th>
                  <th scope="col">Requested</th>
                  <th scope="col">Converted</th>
                  <th scope="col">Received</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody id="none">
                  {{range .TransactionList}}
                  {{ $dataContext := . }}
                <tr>
                  <td ><span class="accordion-button88" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{.Id}}" aria-expanded="false" aria-controls="collapse{{.Id}}"><i class="fa-solid fa-plus"></i></span></td>
                  <td>{{.Transaction_id}}</td>
                  <td  class="text-uppercase">{{.Receivedcurrency}} {{range index $.CoinList}}{{if eq $dataContext.Assetid .Coin_id}} 
                    <p class="text-muted fw-bold" title="Network">{{.Coin_network}}</p> {{end}}{{end}}</td>
                  <td class="text-uppercase">{{.Requestedcurrency}} {{.Requestedamount}}</td>
                  <td class="text-uppercase">{{.Convertedcurrency}} {{.Convertedamount}}</td>
                  <td class="text-uppercase">{{.Receivedcurrency}} {{.Receivedamount}}</td>
                  <td class="text-uppercase">{{.Transaction_type}}</td>
                  <td class="pay-status" >{{.Substatus}}</td>
                  <td>{{.Createdate}}</td>
                </tr>
                <tr>
                  <td class="p-0" colspan="9"> <div id="collapse{{.Id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body border border-warning rounded ">
                      <div class="row">
                        <div class="col-sm-6 my-1"><strong>Transaction ID :</strong> {{.Transaction_id}}</div>
                        {{if .Order_id}}
                                          <div class="col-sm-6 my-1"><strong>Order ID :</strong> {{.Order_id}}</div>
                                          {{end}}
                                          <div class="col-sm-6 my-1"><strong>Reference ID :</strong> {{.Customerrefid}}</div>
                                          
                        <div class="col-sm-6 my-1"><strong>Timestamp :</strong> {{.Createdate}}</div>
                        <div class="col-sm-6 my-1"><strong>Destination address :</strong> {{.Destinationaddress}}</div>
                        <div class="col-sm-6 my-1"><strong>Assetid :</strong><span class=" text-uppercase">{{.Assetid}}</span></div>
                        <div class="col-sm-6 my-1" ><strong>Requested Amount :</strong> <span class="text-uppercase">{{.Requestedcurrency}}</span> {{.Requestedamount}} </div>
                        <div class="col-sm-6 my-1"><strong>Converted Amount :</strong> <span class="text-uppercase">{{.Convertedcurrency}}</span> {{.Convertedamount}} </div>
                        <div class="col-sm-6 my-1"><strong>Received Amount :</strong> <span class="text-uppercase">{{.Convertedcurrency}}</span> {{.Receivedamount}} </div>
                        <div class="col-sm-6 my-1"><strong>Status :</strong> {{.Status}}</div>
                        <div class="col-sm-12 my-1"><strong>Note :</strong> {{.Note}}</div>
                        <div class="col-sm-6 my-1"><strong>Txhash :</strong> {{.Response_hash}}</div>
                        <div class="col-sm-6 my-1"><strong>Comment By Approver :</strong> {{.Approver_comment}}</div>
                        <div class="col-sm-6 my-1"><strong>Approved By :</strong> {{.Approved_by}} {{.Approver_id}}</div>
                        <div class="col-sm-6 my-1"><strong>Approved On :</strong> {{.Approved_date}}</div>
                        
                      </div>

                    </div></td>
                  </tr>
                {{end}}
               
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      </div>
      {{end}}
</div>
</div>
</div>
  {{template "partials/admin-footer" .}}
  