{{template "partials/admin-header" .}}
<style>
.accordion-button {padding: unset !important;}
.accordion-button:not(.collapsed) {
  background-color: unset !important;
  box-shadow: unset !important;
  padding: 2px 2px !important;
  height: 30px !important;
  
}
  </style>

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="header-title mb-4"> <span data-toggle="tooltip" data-placement="right"> {{.Title}}</span></h4>
                </div>
                
          </div>
          {{if .Alert}}
            <div class="alert alert-warning alert-dismissible fade show my-2" role="alert">
              <strong>{{.Alert}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            {{end}}
            <div class="accordion m-2" id="accordionExample">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead>
                <tr class="font-weight-bolder">
                  <th scope="col">Invoice ID</th>
                  <th scope="col">Requested Amount</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Description</th>
                  <th scope="col">Timestamp</th>
                  <th scope="col">&nbsp;</th>
                  
                </tr>
              </thead>
              <tbody id="none">
                  {{range .TransactionList}}
                <tr>
                  <td>{{.Invoice_id}}</td>
                  <td class="text-uppercase">{{.Requestedcurrency}} {{.Requestedamount}}</td>
                  <td >{{.Name}}</td>
                  <td>{{.Email}}</td>
                  <td>{{.Description}}</td>
                  <td >{{.Createdate}}</td>
                  <td><a href="{{$.CommonURL}}/pay?iid={{.Trackid}}" target="_blank" title="Click to pay"><i class="fa-solid fa-square-arrow-up-right"></i></a><!-- &nbsp;&nbsp;<i class="fa-solid fa-copy myCopy" data-link="{{$.CommonURL}}/pay?iid={{.Trackid}}" title="Click to copy"></i>--> </td> 
                  
                </tr>
              
                {{end}}
                <tr>
                  <td class="text-end fs-6 mx-2" colspan="8"> 
                    <span class="mt-1 font-monospace mx-2 float-start" > Page [{{ .Page }}] Total {{ .Total }}  </span>
                    {{ if gt .Page 1 }}
                  &nbsp;<a href="?page={{ sub .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-left"></i></a>
                   {{ end }}
                  
                   {{ if lt (mul .Page .Limit) .Total }}
                   &nbsp;<a href="?page={{ add .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-right"></i></a>
                  {{ end }}


                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
</div> 
</div>
  {{template "partials/admin-footer" .}}
