{{template "partials/admin-header" .}}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
         

          <div class="row">
            <div class="col-lg-12">
                <h4 class="header-title mb-4"> <span data-toggle="tooltip" data-placement="right"> {{.Title}} - {{.Action}}</span></h4>
            </div>
      </div>
  
      {{if .AlertX}}
      <div class="row mx-0">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{.AlertX}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
      {{end}}
      {{if eq .Action "List"}}
      
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead>
                <tr class="font-weight-bolder">
                  <th scope="col">Coin</th>
                  <th scope="col" style="width: 300px;">Address</th>
                  <th scope="col">Status</th>
                  <th scope="col">Lastupdate</th>
                  <th scope="col" class="text-end mx-2">Action</th>
                </tr>
              </thead>
              <tbody id="none">

                  {{range .CoinAddress}}
                  {{ $dataContext := . }}
                
                  <tr>
                   
                    <td class="text-uppercase"><img class="img-icon" src="/views/images/{{.Coin}}.png" title="{{.Coin}}"/> {{.Coin}}</td>
                    <td class="text-lowercase"><!-- {{.Address}} -->
                      {{range index $.AddressUrl}}
                      {{if eq $dataContext.Coin_id .Coin_id}}
                      <!-- {{.Coin_status_url}}{{$dataContext.Address}} -->
                      <a class="text-break" href="{{.Coin_status_url}}{{$dataContext.Address}}" target="_blank" title="View Details">{{$dataContext.Address}} <i class="fa-solid fa-square-arrow-up-right"></i></a><br><span class="badge text-bg-danger mx-2 text-capitalize">{{.Coin_network}}</span>
                      {{end}}
                      {{end}}
                    </td>
                    <td>{{if eq .Status 1}} <i class="fa-regular fa-circle-check text-success"></i> {{else}} <i class="fa-regular fa-circle-xmark text-danger"></i> {{end}}</td>
                    <td class="date-cell">{{.Lastupdate}}</td>
                    <td class="text-end mx-2"><a class="text-dark mx-2" href="/admin/manage-address/edit/{{.Address_id}}" title="EDIT COIN"><i class="fa-solid fa-pen-to-square"></i></a> <a class="text-danger mx-2" href="/admin/manage-address/delete/{{.Address_id}}" title="DELETE COIN"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                {{end}}
                <tr>
                  <td class="text-end mx-2 fs-6" colspan="8"> 
                    <span class="mt-1 font-monospace mx-2 float-start" > Page [{{ .Page }}] Total {{ .Total }}  </span>
                    {{ if gt .Page 1 }}
                  &nbsp;<a href="?page={{ sub .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-left"></i></a>
                   {{ end }}
                  
                   {{ if lt (mul .Page .Limit) .Total }}
                   &nbsp;<a href="?page={{ add .Page 1 }}&limit={{ .Limit }}" class="mx-1 float-start btn btn-outline-primary btn-sm"><i class="fa-solid fa-angles-right"></i></a>
                  {{ end }}
                  </td>
                  
                </tr>
              </tbody>
            </table>
           
          </div>

      {{else}}
    
      <form method="POST" action="/admin/addressPost" autocomplete="off" enctype="multipart/form-data">
      <input type="hidden" name="Tableid" value="{{if .CoinData.Address_id}}{{.CoinData.Address_id}}{{end}}">
      <input type="hidden" name="mode" value="{{.Action}}">
      {{if .CID}} 
      <input type="hidden" name="coinid" value="{{.CID}}">
     
      {{end}}
      {{if .CNAME}} 
      <input type="hidden" name="coinname" value="{{.CNAME}}">
      <img class="img-icon" src="/views/images/{{.CNAME}}.png" title=" {{.CID}} - {{.CNAME}}"> <span class="text-uppercase">{{.CNAME}} </span>
      
      {{end}}
      
        <div class="row">
          <div class="col-md-9 my-2">
            <div class="form-floating">
              <input type="text" id="address" name="address" class="form-control" title="coin address" required="" value="{{if .CoinData.Address}}{{.CoinData.Address}}{{end}}">
              <label for="coin_address">Coin Address</label>
            </div>
          </div>

          <div class="col-md-3 my-2">
            <div class="form-floating">
              <select class="form-select" name="status" id="status" title="Status" required="">
              <option value=1 {{ if eq .CoinData.Status 1 }}selected{{end}}>Active</option>
              <option value=2 {{ if eq .CoinData.Status 2 }}selected{{end}}>Deleted</option>
              </select>
              <label for="status">Status</label>
              
            </div>
          </div>

          <div class="col-md-12 my-2">
            <div class="form-floating">
              <textarea id="token_details" name="token_details" class="form-control w-100" title="Token Details in JSON" required="" style="min-height: 300px !important;">{{if .CoinData.Token_details}}{{.CoinData.Token_details}}{{else}}{}{{end}}</textarea>
              <label for="token_details">Token Details in JSON</label>
              
            </div>
          </div>
        
          
        </div>
        <button type="submit" id="submit" class="btn btn-sm btn-primary template" name="submit" title="submit" value="submit">Submit</button>
      </form>
      {{end}}
        </div>
      </div>
    </div>
  </div>
</div> 
</div> 
</div>
  {{template "partials/admin-footer" .}}
