
{{template "partials/support-files-admin" .}}
<link href="{{.CssURLS}}/assets/css/form-bg.css" rel="stylesheet">
<div class="container"><img class="background" src="/views/images/admin-bg2.png"/>
  <!-- <p class="message"> Crypto Payment</p> -->
  
<div class="account-pages">
  
    <!-- end row -->
    <div class="row justify-content-center text-white">
      <div class="col-lg-12 box position-absolute">
    <div class="text-center text-white my-2 "><img src="{{.LogoDark}}" alt="Logo" class="img-fluid" style="max-height: 50px !important;"></div>
        <div class="card form bg-transparent shadow" >
          <div class="card-body">
            <h1 class="mb-2 text-center"> Reset Password </h1>
            <p class="">Kindly provide your registered email. We'll promptly send you an email containing a password reset Link.</p>
            {{if .Alertx}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{.Alertx}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{end}}
                    
                      <form method="post"  action="/admin/resetPasswordPost" class="form-horizontal mt-3">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12  my-1">
                    <label for="adminId">Enter registered email id</label>
                      <input type="email" class="form-control username" id="email" name="email" placeholder="Your Email" value="vikashg@itio.in"  autocomplete="off" required>
                      
                    
                  </div>
                
                                  </div>
                <div class=" my-2 text-center">
                  <button class="btn btn-primary template w-100" type="submit"  name="btn_submit"> Continue </button>
                </div>
              </div>
              <div class="col"><a href="/admin/login" class="text-light" title="Click for sign up new user" ><i class="fa-solid fa-user-tie fa-fw" ></i> Back to Sign In</a></div>
              <div class="col"><a href="/admin/reset-password" class="text-light" title="Click for recover your account details" ><i class="fa-solid fa-lock fa-fw" ></i> Reset password?</a></div> 
            </div>
      
          </form>
        </div>
        
      </div>
    
    <!-- end Account pages -->
<!-- <div class="toast-container position-fixed bottom-50 start11-50 translate-middle55">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header"> <i class="fa-solid fa-headset fa-fw text-success"></i> <strong class="me-auto">&nbsp;Support Team</strong> <small>24x7</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    
    </div>
  </div> -->
</div>
    </div>
    
  </div>
 

</div>

<script>
const timeStamp = Date.now()
const stylesheetLink = document.querySelector("link#styles")
const appScriptLink = document.querySelector("script#main")
stylesheetLink.href += `?t=${timeStamp}`
appScriptLink.src += `?t=${timeStamp}`
</script>


