
<footer class="d-footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">© 2024 ITIO. All Rights Reserved.</p>
    </div>
    <div class="col-auto">
      <p class="mb-0">Made by <span class="text-primary-600">{{.HostName}}</span></p>
    </div>
  </div>
</footer>
  </main>
<div class="modal" id="transModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            <!--Heading-->
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="padding:0;">
          <iframe src="" width="100%" height="500"></iframe>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary closebtn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <!-- end main content-->

 <!-- jQuery library js -->
 <script src="{{.CssURLS}}/assets/js/lib/jquery-3.7.1.min.js"></script>
 
 <!-- Apex Chart js -->

 <!-- Data Table js -->
 <script src="{{.CssURLS}}/assets/js/lib/dataTables.min.js"></script>
 <!-- Iconify Font js -->
 <script src="{{.CssURLS}}/assets/js/lib/iconify-icon.min.js"></script>
 <!-- jQuery UI js -->
 <script src="{{.CssURLS}}/assets/js/lib/jquery-ui.min.js"></script>
 <!-- Vector Map js -->
 <script src="{{.CssURLS}}/assets/js/lib/jquery-jvectormap-2.0.5.min.js"></script>
 <script src="{{.CssURLS}}/assets/js/lib/jquery-jvectormap-world-mill-en.js"></script>
 <!-- Popup js -->
 <script src="{{.CssURLS}}/assets/js/lib/magnifc-popup.min.js"></script>
 <!-- Slick Slider js -->
 <script src="{{.CssURLS}}/assets/js/lib/slick.min.js"></script>
 <!-- prism js -->
 <script src="{{.CssURLS}}/assets/js/lib/prism.js"></script>
 <!-- file upload js -->
 <script src="{{.CssURLS}}/assets/js/lib/file-upload.js"></script>
 <!-- audioplayer -->
 <!-- <script src="{{.CssURLS}}/assets/js/lib/audioplayer.js"></script> -->
 
 <!-- main js -->
 <script src="{{.CssURLS}}/assets/js/app.js"></script>
<script src="/views/js/dist/common.js"></script>

 <!-- ====================================-->
 <!-- Apex Chart js -->
 <!-- <script src="assets/js/lib/apexcharts.min.js"></script> -->
 <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

 

</div> 
</body>
</html>



