
<script>
  //const button = document.querySelector("[data-theme-toggle]");
  const localStorageTheme = localStorage.getItem("theme");
  document.querySelector("html").setAttribute("data-theme", localStorageTheme);
  //alert(localStorageTheme)
   </script>
<link rel="icon" href="{{.FaviconIcon}}" type="image/x-icon">
  <!-- remix icon font css  -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/remixicon.css">
  <!-- BootStrap css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/bootstrap.min.css">
  <!-- Apex Chart css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/apexcharts.css">
  <!-- Data Table css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/dataTables.min.css">
  <!-- Date picker css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/flatpickr.min.css">
  <!-- Vector Map css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/jquery-jvectormap-2.0.5.css">
  <!-- Popup css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/magnific-popup.css">
  <!-- Slick Slider css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/slick.css">
  <!-- prism css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/prism.css">
  <!-- file upload css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/lib/file-upload.css">
  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{{.CssURLS}}/assets/css/style.css">

  <!-- Bootstrap js -->
 <script src="{{.CssURLS}}/assets/js/lib/bootstrap.bundle.min.js"></script>

 
 <style>
   body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
 </style>
</head>
  <body data-layout="horizontal" class="h-100">