{{template "partials/header" .}}
<style>
.accordion-button {padding: unset !important;}
.accordion-button:not(.collapsed) {
  background-color: unset !important;
  box-shadow: unset !important;
  padding: 2px 2px !important;
  height: 30px !important;
}
    .img-icon { width: 40px;margin-right: 10px;}
    .jqte_tool.jqte_tool_1 .jqte_tool_label {height: unset !important;}
    .jqte {  margin: 5px 0 !important;}
    .dashboard-main {
        margin-inline-start: 10px !important;
    }
  </style>

<div class="dashboard-main-body">

  {{if .Alert}}
            <div class="alert alert-warning alert-dismissible fade show  mb-16 mt-16" role="alert">
              <strong>{{.Alert}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            {{end}}

  <div class="row mb-16">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          
            
            <div class="row">
              <div class="col-sm-8"><h6 class="text-xl mb-16">Ticked Details [<span class="support-status {{.SupportList.Status}}">{{.SupportList.Status}}</span>]</h6> </div>
              <div class="col-sm-4 date-cell">{{.SupportList.Timestamp}}</div>
              <div class="col-sm-12 border-bottom mb-16">Subject : {{.SupportList.Ticket_subject}}</div>
              <div class="col-sm-12">{{.SupportList.Ticket_desc}}</div>

            </div>
           
        </div>
      </div>
  </div>
</div>
{{if .ReplyList}}
<div class="row mb-16">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h6 class="text-xl mb-16">Ticked Replied</h6> 
         
          {{range .ReplyList}}
            {{if eq .Type "Merchant"}}
                <div class="row bg-danger-100 p-2  mb-16 border rounded me-110">
                    <div class="col-sm-12 text-start fw-bold">Replied by {{.Reply_by}} on <span class="date-cell">{{.Timestamp}}</span></div>
                    <div class="col-sm-12">{{.Reply_desc}}</div>
                </div>
            {{else}}
                <div class="row bg-success-100 p-2 mb-16 border rounded ms-110">
                    <div class="col-sm-12 text-start fw-bold">Replied by {{.Reply_by}} on <span class="date-cell">{{.Timestamp}}</span></div>
                    <div class="col-sm-12">{{.Reply_desc}}</div>
                </div>
            {{end}}

          {{end}}

        </div>
      </div>
    </div>
  </div>
{{end}}

<div class="row mb-16">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h6 class="text-xl mb-16">Reply your Message</h6> 
       
        
            
                  <form method="POST" action="/post-support-ticket-reply" autocomplete="off">
                    <input type="hidden" name="ticket_id" value="{{.SupportList.Ticket_id}}">
    
                    <div class="row">
            
                      <div class="col-md-12 my-2">
                        <div class="form-floating">
                          <textarea name="reply_desc" class="form-control editor" required></textarea>
                        </div>
                      </div>
                     
                      <div class="col-md-12 my-2">
                        <div class="form-floating">
                      <button type="submit" class="btn btn-sm btn-primary btn  btn-primary  mt-1" name="submit" title="submit" value="submit">Submit</button>
                    </div>
                </div>
                    </div>
                    
                  </form>
        
         

      </div>
    </div>
  </div>
</div>
</div> 


  {{template "partials/footer" .}}
<link rel="stylesheet" type="text/css" href="https://jqueryte.com/css/jquery-te.css"/>
<script src="https://jqueryte.com/js/jquery-te-1.4.0.min.js"></script>
<script>
	$('.editor').jqte();
</script>
